[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
sentry-sdk = "*"
blinker = "*"
prometheus-client = "*"
gunicorn = "*"
jinja2 = "*"

[dev-packages]
pytest = "*"
isort = "*"
flake8 = "*"
xenon = "*"
mypy = "*"
black = "*"
flask-testing = "*"
pytest-xdist = "*"
pytest-cov = "*"
types-requests = "*"

[requires]
python_version = "3.11"
