.navbar-header{
   left: 0%;
   position: relative;
}

.navbar-brand {
    padding-top: 0px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 2px solid #f20060;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    padding-top: 25px;
    border-radius: 0px;
}

.flash-box > span:hover {
    cursor: pointer;
    color: #F4136B;
}

a:-webkit-any-link {
    text-decoration: none;
}

.social-icons-main {
    float: right;
    margin-right: 20px;
}

.social-icons-sub {
    margin-right:20px;
}

.social-icons-img {
    border: 0px;
    width: 40px;
    height: 40px;
}