<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css' ) }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <title>Forgotten Password &middot; Bink</title>
    </head>
    <body>
        <nav class="navbar bink-header">
            <a class="navbar-brand" href="https://www.bink.com">
                <img alt="bink.com" src="{{ url_for('static', filename='img/logo.png') }}" id="bink-logo">
            </a>
            <div class="social-icons-main">
                <a class="social-icons-sub" href='https://www.linkedin.com/company/bink'>
                    <img class="social-icons-img" alt="LinkedIn" src="{{ url_for('static', filename='img/linkedin.png') }}">
                </a>
                <a class="social-icons-sub" href='https://facebook.com/hellobink'>
                    <img class="social-icons-img" alt="Facebook" src="{{ url_for('static', filename='img/fb.png') }}">
                </a>
                <a class="social-icons-sub" href='https://instagram.com/binkhq'>
                    <img class="social-icons-img" alt="Instagram" src="{{ url_for('static', filename='img/insta.png') }}">
                </a>
            </div>
        </nav>
        <hr id="header-line"/>
        <div class="container">
            <div class="row">
                <p class="text-center"><img id="padlock" alt="Padlock" src="{{ url_for('static', filename='img/padlock.png') }}"></p>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <div id="flash-{{loop.index}}" class="flash-box alert alert-info" role="alert">
                                <span class="pull-right fa fa-close" onclick="close_span('#flash-{{loop.index}}')"></span>
                                {{message}}
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            {% block page_content %}
            {% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
